{% extends 'blog_app/base.html' %}

{% block css %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock %}

{% block content %}

<!-- <h1 class="mb-1">
    {{ post.title }}
</h1>

<div class="card">
    <div class="card-body">
        {{ post.content }}
        <a href="{% url 'all_posts' %}" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->
<div class="container" style="top: 50%; position: absolute;
left: 50%;
transform: translate(-50%, -50%); width: 100%;">
<div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-header d-flex justify-content-between">
       <span>SECTION</span>  {{ post.section|upper }}
    </div>
    
    <div class="card-body">
      <h2 class="card-title">{{ post.title|title }}</h2>
      <p class="card-text">{{ post.content|capfirst }}</p>
      <a href="{% url 'all_posts' %}" class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg> Back to Home</a>
    </div>
  </div>
</div>
{% endblock %}