{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog_app/login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog_app/login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog_app/login/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'blog_app/login/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'blog_app/images/favicon.ico' %}" />
    <title>ZendusBlog | SignUp</title>
  </head>
  <body>
  

<div class="d-lg-flex half" style="height: 100%;">
    <a href="{% url 'all_posts' %}" role="button"> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-square-fill ml-1 mt-1" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
      </svg> </a>
    <!-- <img src="{% static 'blog_app/login/images/tree.jpg' %}" alt="" srcset="" class="bg order-1 order-md-2"> -->
    <!-- <div id="login-image" class="bg order-1 order-md-2"  style="background-image: url({% static 'blog_app/login/images/tree2.jpg' %})"></div> -->
    <div class="bg order-1 order-md-2" id="loginimage"></div>
    <div class="contents order-2 order-md-1">
        
        <div class="container">
            
            <div class="row align-items-center justify-content-center" style="height: 100%!important;">
                <div class="col-md-9">
                    <div class="mb-4">
                    <h3 class="mt-5"> Register</h3>
                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                    </div>
            
                    <form method="POST" style="max-height: 100%;">
                        {% csrf_token %}
                        <fieldset class="form-group ">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group last mb-3 ">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
            </div>
          </div>
        </div>
    </div>
</div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="{% static 'blog_app/login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="js/popper.min.js"></script>
    <script src="{% static 'blog_app/login/js/popper.min.js' %}"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{% static 'blog_app/login/js/bootstrap.min.js' %}"></script>
    <script src="js/main.js"></script>
    <script src="{% static 'blog_app/login/js/main.js' %}"></script>
  </body>
</html>